/* Main Ruls */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,600&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
/*  */
@media (max-width:576px) {
    .container{
        width: calc(100% - 30px);
        padding: 0 15px;
        margin: auto;
    }
}
@media (min-width:768px) {
    .container{
        width: calc(100% -80px);
        padding: 0 15px;
        margin: 0 50px;
    }
}
@media (min-width:992px) {
    .container{
        width: calc(100% -80px);
        padding: 0 15px;
        margin: 0 50px;
    }
}
@media (min-width:1200px) {
    .container{
        width: calc(100% -80px);
        padding: 0 15px;
        margin: 0 50px;
    }
}

/* End Main Ruls */

header.mainAppBody{
    background: linear-gradient(120deg , #064635d7 , #519259 ,#ffbc35a8);
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header.mainAppBody > .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
}
header.mainAppBody > .container h1{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    margin: auto;
}
section >.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('../img/bg14.png');
    background-size: cover;
}
section > .container >.mainContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
header.app{
    margin: 15px 0;
    padding: 5px 10px;
    background-color: #064635d7;
    border-radius: 8px;
}
header.app h3{
    color: #fff;
    font-family: 400;
}

.mainSelect{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    align-self: flex-start;
    width: 100%;
    margin: 15px 0;
    padding: 10px 15px;
    background-color: #e4e4e4;
    border-radius: 5px;
}
.mainSelect >label{
    font-weight: bold;
}

.mainSelect > #selectEle{
    padding: 10px 5px;
    background-color: #fff;
    font-weight: 400;
    flex: 1;
    border-radius: 5px;
}
.mainSelect > #selectEle:focus{
    border-color: #519259;
}

@media (max-width:768px) {
    .mainContent > #selectEle{
        flex:0;
    }
}


.container .mainContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    background-color: #e4e4e4;
    border-radius: 5px;
}
@media (max-width:768px) {
    .container .mainContent {
        justify-content: center !important;
    }
}
.container .mainContent .imgContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 325px;
    height: 400px;
}
.container .mainContent .imgContainer .actorImg{
    overflow: hidden;
    display: flex;
    aspect-ratio: 1 / 1;
    box-shadow: 0 0 15px 0 #25252545;
    border-radius: 50%;
}
.container .mainContent .imgContainer .actorImg img{
    width: 100%;
    object-fit: cover;
}
.container .mainContent .imgContainer p.actorName{
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
}
.container .mainContent .imgContainer p.actorName::after{
    content: '';
    position: absolute;
    bottom: -15px;
    right: 0;
    background-color: #519259;
    height: 8px;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 0 15px 0 #25252545;
}
@media (max-width:768px) {
    .container .mainContent .imgContainer{
        width:275px;
        height: 350px;
    }
    .container .mainContent .imgContainer .p.actorName{
        font-size: 14px !important;
        font-weight: 400;
    }
}
.container .mainContent .actorInformation{
    border: 2px solid #252525;
    width: 35%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #e4e4e4;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 #519259;
}
@media (max-width:768px) {
    .container .mainContent .actorInformation{
        width: 100%;
        margin-top: 15px;
    }
}
.container .mainContent .actorInformation header.About{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    width: 100%;
    height: 60px;
}
.container .mainContent .actorInformation header.About >h2{
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}
.container .mainContent .actorInformation .inf{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.container .mainContent .actorInformation .inf>label{
    color: #252525;
    font-weight: 400;
    font-size: 1.1rem;
    display: inline-block;
    width: fit-content;
}
.container .mainContent .actorInformation .inf >h5{
    position: relative;
    display: inline-block;
    align-self: flex-end;
}
